.footer ul {
  list-style-type: none;
  padding: 0px 0px;
}

.footer li {
  display: inline-block;
  font-size: 30px;
  opacity: 70%;
  margin: 0px 8px;
}

.footer {
  background-color: rgb(50,50,50);
  color: #1CDD87;
  text-align: center;
  padding: 60px 0px 60px 0px;
  margin-top: 30px;
}
